/* double extra small */
@media screen and (max-width: 360px) {
    .col-xxs {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
    }
    .col-xxs-1 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 1 - 4px);
    }
    .col-xxs-2 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 2 - 4px);
    }
    .col-xxs-3 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 3 - 4px);
    }
    .col-xxs-4 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 4 - 4px);
    }
    .col-xxs-5 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 5 - 4px);
    }
    .col-xxs-6 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 6 - 4px);
    }
    .col-xxs-7 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 7 - 4px);
    }
    .col-xs-8 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 8 - 4px);
    }
    .col-xxs-9 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 9 - 4px);
    }
    .col-xxs-10 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 10 - 4px);
    }
    .col-xxs-11 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 11 - 4px);
    }
    .col-xxs-12 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 12 - 4px);
    }
    .col-xxs-13 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 13 - 4px);
    }
    .col-xxs-14 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 14 - 4px);
    }
    .col-xxs-15 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 15 - 4px);
    }
    .col-xxs-16 {
        margin-left: 1px;
        display: inline-block;
        background: yellow;
        width: calc(6.25% * 16 - 4px);
    }
}

/* extra small */
@media screen and (min-width: 360px) and (max-width: 576px) {
    .col-xs {
        margin-left: 1px;
        display: inline-block;
        background: blue;
    }
    .col-xs-1 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 1 - 4px);
    }
    .col-xs-2 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 2 - 4px);
    }
    .col-xs-3 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 3 - 4px);
    }
    .col-xs-4 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 4 - 4px);
    }
    .col-xs-5 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 5 - 4px);
    }
    .col-xs-6 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 6 - 4px);
    }
    .col-xs-7 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 7 - 4px);
    }
    .col-xs-8 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 8 - 4px);
    }
    .col-xs-9 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 9 - 4px);
    }
    .col-xs-10 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 10 - 4px);
    }
    .col-xs-11 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 11 - 4px);
    }
    .col-xs-12 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 12 - 4px);
    }
    .col-xs-13 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 13 - 4px);
    }
    .col-xs-14 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 14 - 4px);
    }
    .col-xs-15 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 15 - 4px);
    }
    .col-xs-16 {
        margin-left: 1px;
        display: inline-block;
        background: blue;
        width: calc(6.25% * 16 - 4px);
    }
}

/* small */
@media screen and (min-width: 575px) and (max-width: 767px) {
    .col-sm {
        margin-left: 1px;
        display: inline-block;
        background: purple;
    }
    .col-sm-1 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 1 - 4px);
    }
    .col-sm-2 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 2 - 4px);
    }
    .col-sm-3 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 3 - 4px);
    }
    .col-sm-4 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 4 - 4px);
    }
    .col-sm-5 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 5 - 4px);
    }
    .col-sm-6 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 6 - 4px);
    }
    .col-sm-7 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 7 - 4px);
    }
    .col-sm-8 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 8 - 4px);
    }
    .col-sm-9 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 9 - 4px);
    }
    .col-sm-10 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 10 - 4px);
    }
    .col-sm-11 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 11 - 4px);
    }
    .col-sm-12 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 12 - 4px);
    }
    .col-sm-13 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 13 - 4px);
    }
    .col-sm-14 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 14 - 4px);
    }
    .col-sm-15 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 15 - 4px);
    }
    .col-sm-16 {
        margin-left: 1px;
        display: inline-block;
        background: purple;
        width: calc(6.25% * 16 - 4px);
    }
}

/* medium */
@media screen and (min-width: 767px) and (max-width: 991px) {
    .col-md {
        margin-left: 1px;
        display: inline-block;
        background: red;
    }
    .col-md-1 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 1 - 4px);
    }
    .col-md-2 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 2 - 4px);
    }
    .col-md-3 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 3 - 4px);
    }
    .col-md-4 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 4 - 4px);
    }
    .col-md-5 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 5 - 4px);
    }
    .col-md-6 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 6 - 4px);
    }
    .col-md-7 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 7 - 4px);
    }
    .col-md-8 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 8 - 4px);
    }
    .col-md-9 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 9 - 4px);
    }
    .col-md-10 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 10 - 4px);
    }
    .col-md-11 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 11 - 4px);
    }
    .col-md-12 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 12 - 4px);
    }
    .col-md-13 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 13 - 4px);
    }
    .col-md-14 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 14 - 4px);
    }
    .col-md-15 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 15 - 4px);
    }
    .col-md-16 {
        margin-left: 1px;
        display: inline-block;
        background: red;
        width: calc(6.25% * 16 - 4px);
    }
}

/* large */
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .col-lg {
        margin-left: 1px;
        display: inline-block;
        background: green;
    }
    .col-lg-1 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 1 - 4px);
    }
    .col-lg-2 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 2 - 4px);
    }
    .col-lg-3 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 3 - 4px);
    }
    .col-lg-4 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 4 - 4px);
    }
    .col-lg-5 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 5 - 4px);
    }
    .col-lg-6 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 6 - 4px);
    }
    .col-lg-7 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 7 - 4px);
    }
    .col-lg-8 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 8 - 4px);
    }
    .col-lg-9 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 9 - 4px);
    }
    .col-lg-10 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 10 - 4px);
    }
    .col-lg-11 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 11 - 4px);
    }
    .col-lg-12 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 12 - 4px);
    }
    .col-lg-13 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 13 - 4px);
    }
    .col-lg-14 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 14 - 4px);
    }
    .col-lg-15 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 15 - 4px);
    }
    .col-lg-16 {
        margin-left: 1px;
        display: inline-block;
        background: green;
        width: calc(6.25% * 16 - 4px);
    }
}

/* extra large */
@media screen and (min-width: 1199px) {
    .col-xl {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
    }
    .col-xl-1 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 1 - 4px);
    }
    .col-xl-2 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 2 - 4px);
    }
    .col-xl-3 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 3 - 4px);
    }
    .col-xl-4 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 4 - 4px);
    }
    .col-xl-5 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 5 - 4px);
    }
    .col-xl-6 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 6 - 4px);
    }
    .col-xl-7 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 7 - 4px);
    }
    .col-xl-8 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 8 - 4px);
    }
    .col-xl-9 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 9 - 4px);
    }
    .col-xl-10 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 10 - 4px);
    }
    .col-xl-11 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 11 - 4px);
    }
    .col-xl-12 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 12 - 4px);
    }
    .col-xl-13 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 13 - 4px);
    }
    .col-xl-14 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 14 - 4px);
    }
    .col-xl-15 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 15 - 4px);
    }
    .col-xl-16 {
        margin-left: 1px;
        display: inline-block;
        background: darkgray;
        width: calc(6.25% * 16 - 4px);
    }
}
